<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690025070969-tj6f6qngmhudluildhe5mgabbvifurlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690025070969-tj6f6qngmhudluildhe5mgabbvifurlk</string>
	<key>API_KEY</key>
	<string>AIzaSyDuCOK7ujwDpOMPD8wlfZV5SHKnqgUFKFU</string>
	<key>GCM_SENDER_ID</key>
	<string>690025070969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salah.uwbapp.uwbapp</string>
	<key>PROJECT_ID</key>
	<string>uwb-safety-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uwb-safety-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690025070969:ios:3011f5bfbe0c0aa6766fa8</string>
</dict>
</plist>